@model TeamIndexViewModel
@* @model IEnumerable<Player> *@
@{
    ViewData["Title"] = "Registered Players";
}

<h1>Geregistreerde gebruikers</h1>
<table>
    <tr><th>ID</th><th>Name</th><th>Email</th><th>Team</th></tr>
    @foreach (Player p in Model.Players)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.UserName</td>
            <td>@p.Email</td>
            <td>@p.Team.Name</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@p.Id">
                    Wijzigen
                </a>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@p.Id">
                    Verwijderen
                </a>
            </td>
        </tr>
    }
</table>
