@model CTFTournamentPlanner.Models.Matchup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Matchup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoreB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoreB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedTeamAId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedTeamAId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SelectedTeamBId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SelectedTeamBId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
