@model CTFTournamentPlanner.Models.Bracket

<p>Aantal teams: @Model.Teams.Count()</p>
<p>Aantal rondes: @Model.Rounds.Count()</p>
@foreach (Round round in Model.Rounds)
{
    <p>Deze ronde heeft @round.Matchups.Count() matchups</p>
}



@*
<table>
@foreach (Round round in Model.Rounds)
{
    <thead>@Html.DisplayFor(modelRound => round.Name)</thead>
    round.Matchups = new List<Matchup>();
    foreach (Matchup matchup in round.Matchups)
    {
        <tr>
            <ul>
            @if (matchup.Teams != null)
            {
                matchup.Teams = new List<Team>();
                foreach (Team team in matchup.Teams)
                {
                    <li>@team.Name</li>
                }
                
            }
            else
            {
                <li>
                    tbd.  
                </li>
                <li>
                    tbd.
                </li>
            }
            </ul>
        </tr>
    }
}
</table>
*@