@model CTFTournamentPlanner.Models.Bracket

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<p>Aantal deelnemende teams: @Model.Teams.Count()</p>
<h4>Bracket</h4>

@if (Model.IsGenerated == false)
{
    <p>De bracket zal binnenkort door de administrator aangemaakt worden!</p>
    <table>
        <tr>
            <td class="table">
                <a asp-action="Index">Terug naar lijst</a>
            </td>
            <td>
                <form method="post" asp-controller="Brackets" asp-action="GenerateBracket" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-primary" style="margin-right: 50px;">Bracket Genereren</button>
                </form>
            </td>
            <td>
                <a asp-controller="Brackets" asp-action="Delete" asp-route-id="@Model?.Id">
                    <button type="submit" class="btn btn-primary">Verwijderen</button>
                </a>
            </td>
        </tr>
    </table>
}

else
{  
    <div>@await Html.PartialAsync("_GeneratedBracket", Model)</div>
    <table>
        <tr>
            <td class="table">
                <a asp-action="Index">Terug naar lijst</a>
            </td>
            <td>
                <a asp-controller="Brackets" asp-action="Edit" asp-route-id="@Model?.Id">
                    <button type="submit" class="btn btn-primary" style="margin-right: 50px;">Update Tussenstanden</button>
                </a>
            </td>
        </tr>
    </table>
}
   
@*    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
*@


