@model CTFTournamentPlanner.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<a asp-action="Index" style="margin-right: 500px;">Terug naar teamsoverzicht</a>
<h3 class="mt-5">Beschrijving</h3>
<p>@Html.DisplayFor(model => model.Description)</p>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<table>
    <tr>
        <td>
            <form method="post" asp-controller="Teams" asp-action="JoinTeam" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-secondary">Join Team</button>
            </form>
        </td>
        <td>
            <form method="post" asp-controller="Teams" asp-action="LeaveTeam" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-dark">Team Verlaten</button>
            </form>
        </td>
        <td>
            <form method="get" asp-controller="Teams" asp-action="Edit" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-primary" style="margin-left: 650px;">Team Wijzigen</button>
            </form>
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Teamleider
            </th>
            <th>
                Teamleden
            </th>
            <th>
                Aantal teamleden
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @foreach (Player player in Model.Players)
                {
                    @if (player.IsTeamLeader)
                    {
                        <p>@player.UserName</p>
                    }
                }
            </td>
                
            <td>
                <ul>
                @foreach (var player in Model.Players)
                {                   
                    <li>@player.UserName </li>                                   
                }
                </ul>
            </td>

            <td>
                @{
                    int memberCount = 0;
                }
                @foreach (Player player in Model.Players)
                {
                    memberCount += 1;
                }
                <p>@memberCount</p>
            </td>
        </tr>
</table>

